/* * * * BASE * * * */
.banner-ad-container{
    position: relative;
    background: url(./../assets/BG.jpg);
    background-repeat: no-repeat;
}

.banner-ad-container, .banner-ad{
    height: 250px;
    width: 300px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
    
.banner-ad.border, .banner-ad.frame-1, .banner-ad.frame-2, .banner-ad.frame-3, .banner-ad.frame-4, .banner-ad.frame-5{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.banner-ad.border{
    // z-index: 50;
    display: none;
}

/* * * * FONT * * * */
// https://transfonter.org/
// Learned that I can just google the font and use this site to convert into @font-face
@font-face {
    font-family: 'Gotham';
    src: url('./../font/Gotham-Book.eot');
    src: url('./../font/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('./../font/Gotham-Book.woff') format('woff'),
        url('./../font/Gotham-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.banner-ad, .frame-3-text p, .frame-4-text p, .frame-5-text p, a.CTA-button{
    font-family: 'Gotham';
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 2px;
}

.frame-3-text p{
    font-size: 28px;
}

p.frame-4-text-1, a.CTA-button{
    text-transform: initial;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0;
}

a.CTA-button{
    text-transform: capitalize;
    font-size: 12px;
}

/* * * * FRAME 1 * * * */
.banner-ad.frame-1{
    opacity: 0;
}

.banner-ad.frame-1, .logo-face{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-face{
    width: 60%;
    transform: scale(0,0);
    -ms-transform: scale(0,0);
    -webkit-transform: scale(0,0);
    opacity: 0;
}

/* * * * FRAME 2 * * * */
.banner-ad.frame-2{
    background: url(./../assets/F2-BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

.banner-ad.frame-2 .red-border-shape{
    background: url(./../assets/F2-shape.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
}

/* * * * FRAME 3 * * * */
.banner-ad.frame-3{
    background-image: url(./../assets/BG.jpg);
    background-size: cover;
    opacity: 1;
}

.frame-3-text{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// p.frame-3-text-1, p.frame-3-text-2, p.frame-3-text-3{
//     opacity: 1;
//     // transform: scaleX(0,0);
//     // -ms-transform: scaleX(0,0);
//     // -webkit-transform: scaleX(0,0);
// }

/* * * * FRAME 4 * * * */
.banner-ad.frame-4{
    background-image: url(./../assets/BG.jpg);
    background-size: cover;
    opacity: 0;
}

.banner-ad.frame-4 .red-border-shape-top{ 
    background: url(./../assets/F4-shape.png);
    background-repeat: no-repeat;
    height: 50%;
    opacity: 0;
    z-index: 50;
    position: absolute;
    top: -50px;
    bottom: 0;
    right: 0;
    left: 0;
}

.frame-4-text{
    width: 100%;
    height: 100%;
    background-image: url(./../assets/shadowBG.png);
    background-size: cover;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    opacity: 0;
    z-index: 40;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

p.frame-4-text-2{
    margin-bottom: 35px;
}

.frame-4-images{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.frame-4-images .frame-4-image-1, .frame-4-images .frame-4-image-2{
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* * * * FRAME 5 * * * */
.banner-ad.frame-5{
    background-image: url(./../assets/F5-BG.jpg);
    background-size: cover;
    opacity: 0;
}

.banner-ad.frame-5 .red-border-shape-top{ 
    background: url(./../assets/F4-shape.png);
    background-repeat: no-repeat;
    height: 50%;

    position: absolute;
    top: -25px;
    bottom: 0;
    right: 0;
    left: 0;
}

.banner-ad.frame-5 .red-border-shape-top .logo{
    margin: 45px 10px;
    width: 45%;
}

.banner-ad.frame-5 .frame-5-text{
    height: 100%;
    width: 100%;
    padding: 35px 20px 20px 20px;
    background-image: url(./../assets/F5-shadow.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CTA{
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
}

a.CTA-button{
    text-decoration: none;
    display: inline-block;
    margin: 0;
    border: 1px solid transparent;
    background-color: #d61f33;
    height: 25.5px;
    width: 104.5px;
}

a.CTA-button:hover, a.CTA-button:active{
    border: 1px solid white;
    text-shadow: 1px 1px 2px #000;
    box-shadow: -1px 1px 5px #d61f33, 1px -1px 5px #d61f33;
}

