/* Utility Classes */
.adSize {
  width: 300px;
  height: 250px;
}
.vidHid {
  opacity: 0;
  visibility: hidden;
}
.posAb {
  position: absolute;
}
.topLef {
  left: 0px;
  top: 0px;
}
.botLef {
  left: 0px;
  bottom: 0px;
}
.bgDef {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.overFlowHid {
  overflow: hidden;
}

#template {
  /* background: no-repeat url("../assets/tmpProd.png"); */
}

#viewport {
  position: relative;
}

#border {
  border: solid 1px black;
}

/* Ad Style */
#GL_bg1-1 {
  background-color: #d2202f;
}

#F1_image1-1 {
  background-image: url("../assets/F1_image1-1.png");
}

#F2_image1-1 {
  background-image: url("../assets/F2_image1-1.jpg");
}
#F2_image2-1 {
  background-color: #d2202f;
  height: 100px;
  width: 400px;
  left: -50px;
  bottom: -60px;
}

#F3_text1-1 {
  background-image: url("../assets/F3_text1-1.png");
}

#F4_text1-1 {
  background-image: url("../assets/F4_text1-1.png");
}
#F4_text1-2 {
  background-image: url("../assets/F4_text1-2.png");
}
#F4_image1-1 {
  background-image: url("../assets/F4_image1-1.jpg");
}
#F4_image2-1 {
  background-color: #d2202f;
  height: 400px;
  width: 400px;
  left: -50px;
  top: -370px;
}

#F5_cta1-1 {
  background-image: url("../assets/F5_cta1-1.png");
}
#F5_ctaArrow1-1 {
  background-image: url("../assets/F5_ctaArrow1-1.png");
}
#F5_ctaBg1-1 {
  background-image: url("../assets/F5_ctaBg1-1.png");
}
#F5_image1-1 {
  background-image: url("../assets/F5_image1-1.jpg");
}
#F5_image2-1 {
  background-color: #d2202f;
  height: 400px;
  width: 400px;
  left: -50px;
  top: -355px;
}
#F5_logo1-1 {
  background-image: url("../assets/F5_logo1-1.png");
}
#F5_text1-1 {
  background-image: url("../assets/F5_text1-1.png");
}
#F5_text1-2 {
  background-image: url("../assets/F5_text1-2.png");
}
#F5_text1-3 {
  background-image: url("../assets/F5_text1-3.png");
}

#F5-ctaHover1 {
  opacity: 1;
  position: absolute;
  width: 105px;
  height: 26px;
  top: 199.6px;
  left: 98px;
  overflow: hidden;
}

#sheen {
  background: url(../assets/sheen.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 105px;
  height: 25px;
  /* top: -10px; */
  position: absolute;
}
